body {
    font-family: "Spectral", serif;
    color: rgb(23, 23, 23);
    background-color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    text-align: left;
}

article {
    max-width: 36em;
}

article h1 {
    margin-bottom: 1em;
}

blockquote {
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    margin-right: 2em;
    font-size: 95%;
    border-left: 0.15em solid #6a6a6a;
}

.contact-icon {
    max-width: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.article {
    width: 720px;
}

code {
    background-color: #F3F4F4;
    padding: .2em .4em;
    margin: 0;
    color:  rgb(23, 23, 23);
    border-radius: 6px;
    font-size: 85%;
}

pre {
    background-color: #F3F4F4;
    border-radius: 6px;
    font-size: 75%;
    padding: 16px;
    line-height: 1.45;
}

.navbar.navbar-light {
    background-color: #ffffff !important;
}

.contacts.contact-icon {
    max-width: 32px;
}