body, html {
    overflow-x: hidden;
}

body {
    font-family: "Spectral", serif;
    color: rgb(23, 23, 23);
    background-color: #ffffff;
    font-size: 19px;
    line-height: 26px;
}

@media only screen and (min-width: 760px) {
    .wrapper {
        width: 724px;
        margin: auto;
    }
}

hr {
    border: 0;
    height: 1px;
    background: grey;
}

.nav-link {
    margin-right: 0.5em;
    color: grey;
    text-decoration: none;
}

.article-link {
    display: block;
    margin-bottom: 0.5em;
}

.wrapper {
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

h1 {
    line-height: 1.2em;
}

.contact-icon {
    max-width: 32px;
    margin-left: 4px;
    margin-right: 4px;
}
